<section class="user-section">
<figure class="image is-64x64">
            <%= gravatar_image_tag( current_user.email, size: 32, alt: current_user.name, class:'img')%>
          </figure>
  <h2><%= "Name: #{@user.name}" %></h2>
  <div>
    <%= send_or_recall_friend_request(@user) %>
  </div>
  <% if pending_array(@invitations).length > 0  && pending_array(@invitations).include?(@user)%>
        <% pending_array(@invitations).map do |pendig_user| %>
            <ul class="pending-invitations">
                <li>    
                    Name: <%= pendig_user.name %>
                    <span class="profile-link">
                        <%= link_to 'See Profile',  user_path(pendig_user), class: 'profile-link' %>
                    </span>
                    <div>
                        <%= accept_friend_request(pendig_user) %>
                        <%= reject_friend_request(pendig_user) %>
                    </div>
                </li>
            </ul>    
        <% end %>
        <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
